<section class="all">
    <app-nav-bar></app-nav-bar>
    <section class="main-content">
        <h1>Drive Your Dreams, Ride with Confidence!</h1>
       
            <!-- <app-add-vehicle></app-add-vehicle> -->
            <div class="button-group">
                <a class="btn btn-lg btn-light mx-3" routerLink="/addVehicle">Add Vehicles</a>
                <a class="btn btn-lg btn-primary" routerLink="/rental">Rental</a>
            </div>
        
    </section>
    
    <!-- <app-footer></app-footer>  -->
</section> 

