

<section class="hero">
    <app-nav-bar></app-nav-bar>
    <img src="Imgs/a-man-standing-next-to-a-motel-with-a-neon-sign-ntdlrf8thf2tplaf.jpg" class="hero-image"/>
    <div class="main-content">
        <h1>Drive Your Dreams, Ride with Confidence!</h1>
        <div class="button-group">
            <a class="btn btn-lg btn-light mx-3" routerLink="/addVehicle">Add Vehicles</a>
            <a class="btn btn-lg btn-primary" routerLink="/renters">Customers</a>
        </div>
    </div>
  </section>
