<footer class="footer text-center text-md-left">
    <div class="container">
        <div class="row align-items-center">
            <!-- Contact Us -->
            <div class="col-md-4 my-3">
                <h5>Contact Us</h5>
                <p>Phone: <a href="tel:+919326125636">+91 9326125636</a></p>
                <p>Email: <a href="mailto:kjothilingam&#64;gmail.com">kjothilingam&#64;gmail.com</a></p>
                <p>Address: 4/45 White Nagar, Edapalayam, Ranipet</p>
            </div>

            <!-- Follow Us -->
            <div class="col-md-4 my-3 text-center">
                <h5>Follow Us</h5>
                <a href="#" class="bi bi-facebook  ms-2 mx-2"></a>
                <a href="#" class="bi bi-twitter ms-2 mx-2"></a>
                <a href="https://www.instagram.com/lingam.01/?next=%2F&hl=en" class="bi bi-instagram ms-2 mx-2"></a>
                <a href="#" class="bi bi-linkedin mx-2"></a>
            </div>

            <!-- Newsletter -->
            <div class="col-md-4 my-3 text-md-right">
                <h5>Newsletter</h5>
                <form class="form-inline newsletter d-flex">
                    <input type="email" class="form-control me-2" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Copyright Section -->
    <div class="mt-3 text-center">
        <p>&copy; 2025 K. Jothilingam. All Rights Reserved.</p>
    </div>
</footer>
