
h2 {
    font-size: 32px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    color: rgb(0, 0, 0);
    padding-top: 80px; 
}

/* Ensure the body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Main content should take all available space */
.all {
    flex: 1;
    background: url('../../../../public/Imgs/a-man-standing-next-to-a-motel-with-a-neon-sign-ntdlrf8thf2tplaf.jpg') no-repeat center center/cover;
}

/* Footer should stay at the bottom */
    /* footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        position: relative;
        width: 100%;
    } */

.container {
    display: flex;
    flex-wrap: wrap; /* Ensures items move to the next line when needed */
    gap: 10px;
    justify-content: center; /* Align items to the center */
    align-items: flex-start; /* Align items at the top */
    padding-top: 10px;
    padding-bottom: 100px;
}
