<!-- Hero Section -->
<section class="hero">
  <img src="Imgs/2025-Cadillac-CT5-V-Blackwing-002-1080.jpg" class="hero-image"/>
  <div class="main-content">
      <h1>Fast. Affordable. Reliable – Get on the Road Today!</h1>
      <div class="button-group">
          <a class="btn btn-lg btn-light mx-3" routerLink="/gallery">Gallery</a>
          <a class="btn btn-lg btn-primary" routerLink="/vehicle">Rent</a>
      </div>
  </div>
</section>

<section >
    <app-gallery></app-gallery>
    <app-vehicle></app-vehicle>
    <app-about></app-about>
</section>