<!-- Video & Photo Section -->
<app-nav-bar></app-nav-bar>
<section class="video-section">

    <h2>Experience the Thrill</h2>
    
    <!-- Photo Gallery -->
    <div class="media-slider">
        <img src="Imgs/car.jpg" alt="Car 1">
        <img src="Imgs/car2.jpg" alt="Car 2">
        <img src="Imgs/car3.jpg" alt="Car 3">
    </div>
    <!-- Video Gallery -->
    <div class="media-slider">
      <video src="Vid/vid (1).mp4" controls autoplay muted loop></video>
      <video src="Vid/vid (3).mp4" controls autoplay muted loop></video>
      <video src="Vid/vid (2).mp4" controls autoplay muted loop></video>
    </div>
  
  </section>
  