<app-nav-bar></app-nav-bar>
<button class="custom-btn" routerLink="/addVehicle">
  <i class="bi bi-car-front"></i>&nbsp;&nbsp;Add Vehicle
</button>

<section class="all">
  <section>
    <h2>Ride Your Way – Rent with Ease!</h2>
  </section>

  <div class="vehicle-container">
    <div class="vehicle-card" *ngFor="let vehicle of vehicles">
      <img [src]="vehicle.imageUrl" alt="{{ vehicle.name }}" class="vehicle-image"/>
      <div class="vehicle-details">
        <h3>{{ vehicle.name }}</h3>
        <p><strong>Number Plate:</strong> {{ vehicle.numberPlate }}</p>
        <p><strong>Vehicle ID:</strong> {{ vehicle.id  }}</p>
        <p><strong>Total KMs Driven:</strong> {{ vehicle.totalKmsDriven }}</p>
        <p><strong>Type:</strong> {{ vehicle.type }}</p>
        <p>
          <!-- <strong>Available:</strong> {{ vehicle.available }} -->
          <strong>Availability:</strong>
          <span [ngClass]="{'text-success': vehicle.available, 'text-danger': !vehicle.available}">
            {{ vehicle.available ? 'Available' : 'Rented' }}
          </span>
        </p>

        <div class="button-container">
          <button class="update-btn" (click)="editVehicle(vehicle)">Update</button>
          <button class="price-tag">{{ vehicle.rentalPrice | currency:'INR' }}/Day</button>
          <button class="delete-btn" (click)="deleteVehicle(vehicle.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="update-form" *ngIf="showUpdateForm">
  <h2>Update Vehicle</h2>

  <form (submit)="updateVehicle()" class="form-container">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="selectedVehicle!.name" name="name">
    </div>

    <div class="form-group">
      <label for="numberPlate">Number Plate:</label>
      <input type="text" id="numberPlate" [(ngModel)]="selectedVehicle!.numberPlate" name="numberPlate">
    </div>

    <div class="form-group">
      <label for="rentalPrice">Rental Price:</label>
      <input type="number" id="rentalPrice" [(ngModel)]="selectedVehicle!.rentalPrice" name="rentalPrice">
    </div>

    <div class="form-group">
      <label for="totalKms">Total KMs Driven:</label>
      <input type="number" id="totalKms" [(ngModel)]="selectedVehicle!.totalKmsDriven" name="totalKmsDriven">
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" id="type" [(ngModel)]="selectedVehicle!.type" name="type">
    </div>

    <div class="form-group">
      <label for="needsService">Needs Service:</label>
      <select id="needsService" [(ngModel)]="selectedVehicle!.needsService" name="needsService">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" [(ngModel)]="selectedVehicle!.imageUrl" name="imageUrl">
    </div>

    <div class="form-buttons">
      <button type="submit" class="update-btn">Save</button>
      <button type="button" class="cancel-btn" (click)="cancelUpdate()">Cancel</button>
    </div>
  </form>
</div>
